/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Set default font family and size */
 body {
  font-family: Georgia, Arial;
  font-size: 16px;
  background-image: linear-gradient(to top, rgb(244, 244, 244), rgb(72, 122, 198));
  background-attachment: fixed;
}

 .links{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Palatino;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 1rem;
}

.links a {
  text-decoration: none;
  color: rgb(92, 132, 157);
  font-size: 1.2rem;
}

.page_title {
  font-family: Georgia, Arial;
  font-size: 16px;
}